<html>
<head><title>Home</title></head>

<body>

{% if content %}
<table>
    <tr>
        <th>Master unit group</th>
        <th>Course</th>
        <th>Scaling Group</th>
        <th>Y11 Enrolled</th>
        <th>Y11 markbook</th>
        <th>Y12 Enrolled</th>
        <th>Y12 Markbook</th>
        <th>Unit Outline Published</th>
    </tr>
    {% for MasterUnit in content %}
    <tr>
        <td><a href="outline/{{MasterUnit.id}}">{{MasterUnit.UnitName}}</a></td>
        <td>{{MasterUnit.Course.Coursename}}</td>
        <td>{{MasterUnit.ScalingGroup.ScalinggroupName}}</td>
        <td>{{MasterUnit.YearEleven}}</td>
        <td>{{MasterUnit.YearElvMarkbook}}</td>
        <td>{{MasterUnit.YearTwelve}}</td>
        <td>{{MasterUnit.YearTweMarkbook}}</td>
        <td>{{MasterUnit.YearTweMarkbook}}</td>
    </tr>
    {% endfor %}

</table>
{% else %}
<strong>No data!</strong>
{% endif %}
</body>
</html>
