<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{UnitName}}</title>
    {% load static %} <!-- Instruct Django to load static files -->
    
    <link rel="stylesheet" type="text/css" href="{% static 'prototype.css' %}" />
</head>
<body>
    <h1><a href="/home">Home</a></h1>
    <h2>Course: {{UnitName.UnitName}}</h2>
    <table>
        <tr>
            <th>Unit Goals</th>
        </tr>

        {% for goals in Ugoals %}
        <tr>
            <td>{{goals.GoalName}}</td>
        </tr>
        {% endfor %}

    </table>
    <table>
        <tr>
            <th>Content</th>
        </tr>

        {% for Content in UContent %}
        <tr>
            <td>{{Content.ContentName}}</td>
        </tr>
        {% endfor %}

    </table>
    <table>
        <tr>
            <th>Assement</th>
        </tr>

        {% for UnitAssement in Assement %}
        <tr>
            <td>Name: {{UnitAssement.AssementName}}</td>
            <td>Weight: {{UnitAssement.Weighting}}</td>
            <td>Start Date: {{UnitAssement.StartDate}}</td>
            <td>End Date: {{UnitAssement.EndDate}}</td>
        </tr>
        {% endfor %}

    </table>
</body>
</html>